* {
    font-family: Sf Display, sans-serif;
}

body {
    margin: 0%;
    background-color: #FAFAFA;
}

.Header-Container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0)),
        url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg");
    background-size: 100%;
    height: 900px;
    background-position-y: 35%;
}

.Nav-body {
    padding-top: 6vh;
    display: flex;
    justify-content: space-around;
}

.Nav-Container {
    height: 42px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
}

.Nav-search {
    display: flex;
    gap: 33px;
}

.Search-dash {
    border: 0.5px #FFF solid;
    height: 18px;
}

.Search-text {
    border: none;
    background-color: transparent;
}

.Nav-content {
    display: flex;
}

.Nav-content-box {
    display: flex
}

.Box-content {
    color: grey;
}

.Box-title {
    color: #FFF;
    margin-left: 8px;
}

.Products {
    margin-left: 14px;
    height: 40px;
    width: 143px;
    background-color: #FFF;
    border-radius: 30px;
    opacity: 0.5;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center
}

.Products-dot {
    width: 5px;
    height: 5px;
    border: #0078f6 1px solid;
    border-radius: 50%;
    background-color: #0078f6;
    margin-left: 10px;
    animation: blink 2s infinite;
}

@keyframes blink {
    50% {
        opacity: 0%;
    }
}

.Nav-end {
    opacity: 0.3;
    display: flex;
    gap: 10px;
    margin-left: -300px;
    width: 20px;
}

.Hero-body {
    height: 446px;
    width: 1200px;
    margin-top: 150px;
    margin-left: 400px;
    display: flex;

}

.Hero-Container {
    border-radius: 30px;
    transition: all 1s ease;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Zuragnuud/Herocover.png);
    border-radius: 25px;
    width: 450px;
    height: 450px;
    background-size: 100%;
}

.Hero-Container:hover {
    background-size: 120%;
}

.Hero-content {
    height: 273px;
    width: 609px;
    margin: 45px 0px 128px 61px;
}

.Hero-title {
    color: #0078f6;
    text-transform: uppercase;
    opacity: 0.6;
    animation: blink 2s infinite;
}

@keyframes blink {
    50% {
        opacity: 0%;
    }

}

.Hero-info {
    color: #FFF;
    text-transform: uppercase;
    width: 609px;
    height: 86px;
    font-size: 37px;
    margin-top: 65px;
    font-weight: bold;
}
.Hero-info a{
    text-decoration: none;
    color: #ffffff;
}

.Hero-actor {
    height: 44px;
    width: 609px;
    margin-top: 50px;
    display: flex;
    gap: 7px;
}

.Actor-img {
    width: 44px;
    height: 44px;
    border: 2px #a29a9a solid;
    border-radius: 50%;
    text-align: center;
}
.Actor-img:hover{
    border: 2px #ffffff solid;
}

.Actor-img img {
    width: 36px;
    height: 36px;
    margin-top: 4px;
}

.Actor {
    color: #FFF;
    opacity: 0.4;
}

.Actor-date {
    color: #ffffff;
    display: flex;
}

.Actor-date-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Actor-dot {
    border: 1px #ffffff solid;
    width: 2px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 5px;
}

.Main {
    background-color: black;
    height: 400px;

}

.Main-section {
    height: 28px;
    width: 1120px;
    margin-top: -300px;
    padding-left: 500px;
    display: flex;
    justify-content: space-between;

}

.Section-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.Circle {
    height: 27px;
    width: 52px;
    background-color: #a29a9a;
    border-radius: 25px;
}

.Main-img {
    padding-left: 350px;
    padding-top: 60px;
    overflow-x: scroll;
    width: 1000px;
    display: flex;
    justify-content: center;
    margin-left: 500px;
}

.Main-img img:hover{
    transition: 1.3s;
    transition: 1.50s;
}



.Main-article {
    height: 1590px;
    width: 1190px;
    margin-left: 480px;
}

.Article-img-section {
    height: 44px;
    width: 609px;
    margin-top: 54px;
    display: flex;
    gap: 7px;
}

.Article-img-section-rightside {
    height: 44px;
    width: 609px;
    margin-top: 54px;
    display: flex;
    gap: 7px;
    margin-left: 500px;
}

.Article-img-name {
    color: black;
}

.Article-date {
    color: #888888;
    display: flex;
}

.Article-date-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Article-dot {
    border: 1px #888888 solid;
    width: 2px;
    height: 2px;
    background-color: #888888;
    border-radius: 50%;
    margin-left: 5px;
}

.Article-border {
    border: #ffffff solid;
    border-radius: 0px 25px 25px 25px;
    height: 183px;
    width: 729px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;

}

.Article-border-leftside {
    border: #ffffff solid;
    border-radius: 25px 0px 25px 25px;
    height: 183px;
    width: 729px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;

}

.Article-border img {
    width: 135px;
    height: 135px;
    margin-top: 19px;
    margin-right: 65px;
}

.Article-section {
    display: flex;
}

.Article-border-dot {
    width: 5px;
    height: 5px;
    border: #0078f6 1px solid;
    border-radius: 50%;
    background-color: #0078f6;
    margin-left: 25px;
    margin-top: 30px;
}

.Article-border-item {
    color: #0078f6;
    font-weight: bold;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 27px;
}

.Article-title {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 50px;
}

.Article-leftside {
    margin-left: 30px;
}

.Article-rightside {
    margin-left: 480px;
}

.Date {
    margin-top: 35px;
    margin-left: 500px;
    display: flex;
    align-content: center;
}

.Week {
    color: #0078f6;
    font-weight: bold;
    border-bottom: #0078f6 solid 2px;
    height: 50px;
    width: 300px;
}

.Nextweek {
    color: #888888;
    width: 280px;
    height: 50px;
    border-bottom: #888888 solid 2px;
    text-align: center;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(4, 265px);
    grid-template-rows: repeat(4);
    margin-left: 500px;
    gap: 20;
    margin-top: 70px;
}

.Grid1 {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    transition: 1.5s;
}

.Grid1:hover {
    scale: 1.04;
}

.Grid2 {
    padding-left: 30px;
    transition: 1.5s;
}

.Grid2:hover {
    scale: 1.04;
}

.Grid3 {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    padding-left: 40px;
    transition: 1.5s;
}

.Grid3:hover {
    scale: 1.04;
}

.Grid4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-top: 130px;
    transition: 1.5s;
}

.Grid4:hover {
    scale: 1.04;
}

.Grid5 {
    grid-column: 2 / 3;
    grid-row: 2 /3;
    padding-top: 130px;
    padding-left: 20px;
    transition: 1.5s;
}

.Grid5:hover {
    scale: 1.04;
}

.Grid6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding-left: 30px;
    padding-top: 36px;
    transition: 1.5s;
}

.Grid6:hover {
    scale: 1.04;
}

.Grid7 {
    grid-column: 4 / 5;
    grid-row: 2 /3;
    padding-left: 40px;
    padding-top: 36px;
    transition: 1.5s;
}

.Grid7:hover {
    scale: 1.04;
}

.Grid8 {
    grid-column: 1 /3;
    grid-row: 3 /4;
    padding-top: 150px;
    transition: 1.5s;
}

.Grid8:hover {
    scale: 1.04;
}

.Grid9 {
    padding-left: 30px;
    padding-top: 150px;
    transition: 1.5s;
}

.Grid9:hover {
    scale: 1.04;
}

.Grid10 {
    grid-column: 4 / 5;
    grid-row: 3 /4;
    padding-left: 40px;
    padding-top: 150px;
    transition: 1.5s;
}

.Grid10:hover {
    scale: 1.04;
}

.Grid11 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding-top: 10px;
    transition: 1.5s;
}

.Grid11:hover {
    scale: 1.04;
}

.Grid12 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    padding-top: 10px;
    padding-left: 20px;
    transition: 1.5s;
}

.Grid12:hover {
    scale: 1.04;
}

.Grid13 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    padding-left: 30px;
    padding-top: -40px;
    margin-top: -80px;
    transition: 1.5s;
}

.Grid13:hover {
    scale: 1.04;
}

.Grid14 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    padding-left: 40px;
    margin-top: -80px;
    transition: 1.5s;
}

.Grid14:hover {
    scale: 1.04;
}

.Footer {
    background-color: #000000;
    margin-top: 100px;
}

.Footer-body {
    margin-left: 480px;
    padding-top: 130px;
}

.footer-container {
    display: flex;
}

.Footer-border {
    margin-top: 65px;
    background-image: url(Zuragnuud/Footer-border.png);
    background-repeat: no-repeat;
    color: #ddd8d8;
    height: 90px;
    width: 323px;
    border-radius: 18px;
    padding-top: 10px;
    display: flex;
}

.Footer-border p {
    font-size: 13px;
    opacity: 50%;
}

.Circle {
    height: 54px;
    width: 54px;
    background-color: #000000;
    border-radius: 50px;
    margin-top: 15px;
    margin-left: 50px;
}

.footer-link a {
    text-decoration: none;
    color: #FFF;
}

.footer-link-top {
    display: flex;
    margin-left: 250px;
    gap: 10px;
}

.footer-dot {
    width: 3px;
    height: 3px;
    border: #ffffff 1px solid;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 7px;
}

.footer-text {
    color: #ffffff;
    opacity: 30%;
    margin-top: 60px;
    margin-left: 250px;
    font-size: 13px;
}

.footer-grid {
    grid-column: (3);
    grid-row: (8);
}

.footer-end {
    color: #ffffff;
    margin-top: 100px;
    margin-left: 480px;
    display: flex;
    gap: 200px;
    padding-bottom: 170px;
    transition: 1.5s;
}

.list {
    line-height: 35px;
    color: #888888;
    font-size: 12px;
}